@font-face{
	font-family:"cerebri_sans_book"; 
	src:url('./fonts/cerebri_sans_book.ttf') format("truetype");
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "cerebri_sans_book" , "lato", sans-serif;
	background-color: black;
	color: white;
	font-size: 0.75rem;
}

.header,
.main {
	grid-gap: 0.8rem;
	display: grid;
	align-items: center;
	align-content: center;
	grid-template-columns: 22.5fr 55fr 22.5fr;
	padding: 0 1.4rem;
}

.header{
	height: 5rem;
}

.header__top-left {
	display: flex;
	padding: 0 1rem;
	align-items: center;
}

.header__top-left h1{
	margin: 1rem;
	vertical-align: middle;
}

.header__top-left span {
	margin: .8rem;
	color: black;
}

.header__top-right img {
position: static;
height: 4rem;
width: 4rem;
}

.header__top-right {
	padding: 0 1rem;
	justify-self: end;
}



.header__top-middle {
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__top-middle div {
	text-align: center;
}



.main {
	background-color: #333;
	margin: .1rem 0;
	grid-template-rows: 68vh;
}

.main > section {
	background-color: #080808;
	height: 65vh;
	border-radius: 8px;
	overflow: auto;
	font-size: 1.3rem;
}

.main-tutorial,
.main-browse {
	padding: 1.2rem 0;
}

.main-tutorial img,
.main-browse img {
	height: 70px;
}

.tutorial-overlay{
	position: absolute;
	top: 33px;
	bottom:0 ;
	left: 30px;
	right: 0;
}

.main-tutorial > div,
.main-browse > div {
	position: relative;
	margin: 1.5rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #E8DEDE24;
	padding-bottom: 1.2rem;
}

.main-tutorial > div > div {
	padding: 1rem;
}

div.main-tutorial-header {
	flex-direction: column;
	border: none;
	align-items: flex-start;
	height: 3rem;
}

.main-tutorial span{
	color: #BABABA;
}

.main-video-thumbnail {
	width: 100%;
}

.main-tutorial-button {
	background-color: #050505;
	color: white;
	width: 100%;
	padding: 0.5rem 1rem;
	border: 2px solid white;
	border-radius: 16px;
	text-align: center;
}

.main-tutorial > .main-tutorial-button-div {
	border: none;
	padding: 0 1rem;
}

.main-video video {
	width: 100%;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #BFBFBF;
	border-radius: 5px;
}

.main-browse > div {
	display: grid;
	grid-template-rows: 2rem 2rem;
	grid-template-columns: repeat(5, 1fr);
}

.main-browse > div img {
	grid-row-end: span 2;
}

.main-browse > div h4 {
	grid-column-end: span 3;
}

.music-details {
	grid-column-end: span 4;
}

.button-use {
	display: none;
}

div.main-browse-header {
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr;
}

.dev-progress {
	grid-column: 1 / span 5;
}
